body {
    background-color: #CCC;
    color: black;
    margin: 0;
}

div.contents {
    margin-bottom: 10px;
    padding: 12px;
    margin-left: auto;
    margin-right: auto;
    width: 1024px;
    background-color: white;
    border-radius: 8px;
}

#titlearea {
    background-color: white;
}

hr.footer {
    display: none;
}

.footer {
    background-color: #AAA;
}



code {
    padding: 2px 4px;
    font-size: 90%;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 3px;
}